#fixed-top {
    background-color:#232a30 !important;
    color: #450000 !important;
    text-align: center !important;
    padding: 5px !important;
}

.range1{
    width:200px;
}

.oriole{
    text-align: center;
}
.h3{
    color: white !important;
    font-family: cursive;
}
.h4{
    color: white !important;
    font-family: Helvetica;
    font-size: 15px !important;
}
body, html{
    background-color: #232a30 !important;
    height: 100%;
}
.container-fluid{
    height: 90% !important;
}

.col-md{
    float: right;
    text-align: right;
}
.sign-up-btn{
    width: 300px;
    margin-left: 405px;
}
.rememberme{
    color: white;
}
#map {
    width: 75%;
    height: 100%;
    float: left;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.card{
    width: 25%;
    height: 100%;
    background-color: #232a30;
    float: right;
}
.rounded1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
#loginmap{
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lightbox {
    background-image: url("../Images/bigoriole.png");
    background-repeat: no-repeat;
    background-size: 640px;
    background-position-x: center;
    background-position-y: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15% 35% 25% 35%;
    text-align: center;
    background-color: #232a30;
    text-align: center;
    text-shadow: #333 0 1px 0;
    z-index: 1000;
}
#loading {
    background-size: 640px;
    background-position-x: center;
    background-position-y: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15% 35% 25% 35%;
    text-align: center;
    /*background-color: transparent;*/
    text-align: center;
    text-shadow: #333 0 1px 0;
    z-index: 1000;
}

.spinner-grow{
    width: 50%;
    height: 100%;
}


.toolbar{
    width: 25%;
    float: right;
    height: 730px;
    text-align: center;
}
.container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.oriolebkg{
    background-image: url("../Images/bigoriole.png");
    background-repeat: no-repeat;
    background-size: 640px;
    background-position-x: center;
    background-position-y: inherit;
    /*background-position: center ;*/
    padding-top: 140px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.logbtn{
    opacity: 0.9 !important;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    opacity: 0.9 !important;
}
.form-control{
    color:whitesmoke!important;
    background-color: transparent!important;
    border: transparent!important;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alignmentCC {
    color: black;
}
.signinpage{
    height: 100%;
    alignment: center;
    background-color: #232a30;
}
.mappage{
    height: 100%;
    text-align: center;
    background-color: #232a30;
    display: block;
    width: 100%;
}

.btn-align{
    float: left;
}

.major{
    width: 145px;
    float: right;
}
.btn-group{
    alignment: center;
    display: flex !important;
    margin-bottom: 10px;
}
.form-inline{
    float: right;
}
.dropdown-menu{
    min-width: 20rem !important;
    text-align: center;
}

.btn-major, .btn-states, .btn-compactness{
    display: grid !important;
    margin-top: 5px;
}
.btn-userType{
    width:100%;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: dodgerblue;
    border-color: dodgerblue;
}
.input-group>.form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 5px;
}

.custom-control-label, .ranges{
    color: ghostwhite;
}
.custom-range{

}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.select-css{
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*background-color: #fff;*/
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#weights{
    list-style: none;
    padding-inline-start: 0;
    /*font-size: 10px;*/
}
li{
    display: block;
}


