HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
s
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
gerrymander-demo/data files/.DS_Store
gerrymander-demo/data files/.DS_Store
