#fixed-top {
    background-color:#232a30 !important;
    color: #450000 !important;
    text-align: center !important;
    padding: 5px !important;
}

.range1{
    width:200px;
}

.oriole{
    text-align: center;
}
.h3{
    color: white !important;
    font-family: cursive;
}
body, html{
    background-color: #232a30 !important;
    height: 100%;
}


.col-md{
    float: right;
    text-align: right;
}
.sign-up-btn{
    width: 300px;
    margin-left: 405px;
}
.rememberme{
    color: white;
}
#map {
    width: 75%;
    height: 700px;
    float: left;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.card{
    width: 25%;
    height: 700px;
    background-color: #232a30;
    float: right;
}
.rounded1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
#loginmap{
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15% 35% 25% 35%;
    text-align: center;
    background-color: #7d8ea0;
    text-align: center;
    text-shadow: #333 0 1px 0;
}

.toolbar{
    width: 25%;
    float: right;
    height: 730px;
    text-align: center;
}
.container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.oriolebkg{
    background-image: url("../Images/bigoriole.png");
    background-repeat: no-repeat;
    background-size: 640px;
    background-position-x: center;
    background-position-y: 12px;
    /*background-position: center ;*/
    padding-top: 140px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.logbtn{
    opacity: 0.9 !important;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    opacity: 0.9 !important;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alignmentCC {
    color: black;
}
.signinpage{
    height: 100%;
    alignment: center;
    background-color: #232a30;
}
.mappage{
    height: 100%;
    text-align: center;
    background-color: #232a30;
    display: block;
    width: 100%;
}

.btn-align{
    float: left;
}

.btn-major{
    float: right;
}
.major{
    width: 145px;
    float: right;
}

.custom-control-label, .ranges{
    color: ghostwhite;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


